<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        table, tr , th, td{
            border: 1px solid black;
        }

    </style>
</head>
<body>
    <h1>All Users data </h1>
    
    <table>
        <tr>
            <th>ID</th>
            <th>username</th>
            <th>Email</th>
            <th>Edit</th>
        </tr>
        <% for(user of result){ %> 
            <tr>
            <td><%= user.id %></td>
            <td> <%= user.username %> </td> 
            <td><%= user.email %></td> 
            <td>
                <form method="get" action="/user/<%= user.id %>/edit">
                <button>Edit username</button>
                </form>
            </td>
            
            </tr>
            <% } %>

    </table>



    
</body>
</html>